.header {
  height: var(--header-height);
  background: var(--primary-color);
  padding: 0 var(--page-horizontal-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  color: #fff;
}

.header a {
  text-decoration: none;
  color: ghostwhite;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

/* .signInBtn {
  color: ghostwhite;
  margin-top: 0;
}

.signInAnc {
  text-decoration: none;
  color: ghostwhite;
  font-family: 'Teko', sans-serif;
  font-size: 20px;

} */
